body{
    background-color: black;
    color: cyan;
    --card-height: 40px;
    --card-width: 40px;
    --card-border-size: 3px;
    --card-margin: 1px;
    --card-height-with-border: calc(var(--card-height) + (2 * (var(--card-border-size) + var(--card-margin))));
    --card-width-with-border: calc(var(--card-width) + (2 * (var(--card-border-size) + var(--card-margin))));
    --info-line-height: calc(var(--card-height-with-border) / 2);
    --creature-height: calc(3 * var(--card-height-with-border));
    --creature-width: calc(3 * var(--card-width-with-border));
    --source-top: calc(5 * var(--card-height));
}
label{
    text-align: center;
    vertical-align: middle;
    font-size: small;
}
.card{
    height: var(--card-height);
    width: var(--card-width);
    border: var(--card-border-size) solid cyan;
    margin: var(--card-margin);
    font-size:large;
}
.card.selected{
    border: var(--card-border-size) solid yellow;
    background-color: crimson;
}
.creatureVoidFiller{
    height: var(--card-height);
    width: var(--card-width);
    border: var(--card-border-size) solid black;
    margin: var(--card-margin);
}
.slot{
    height: var(--card-height);
    width: var(--card-width);
    border: var(--card-border-size) solid cyan;
    margin: var(--card-margin);
    font-size:large;
}
.creatorButton{
    height: var(--card-height);
    width: var(--card-width);
    margin: calc(var(--card-margin) + var(--card-border-size));
}
.dying{
    border: var(--card-border-size) solid red;
}
#gameBoard{
    position: relative; 
    width:100%;
    display:flex;
    flex-direction: column;
}
#gameInfo{
    height: var(--info-line-height);
    text-align: left;
    width: 100%;
}
#gameButtons{
    height: var(--info-line-height);
    width: 100%;
    display:flex;
}
.gameButton{
    height: var(--info-line-height);
    width: var(--creature-width);
}
#backToListButton{
    width: 200px;
}
#CreatureCreator{
    height: var(--creature-height);
    width: var(--creature-width);
    display:flex;
    flex-direction: column;
}
.CreatureCreatorRow{
    display: flex; 
    flex-direction: row;
}
#source{
    height:var(--card-height);
    width:var(--card-width);
    border: var(--card-border-size) solid cyan;
    margin: var(--card-margin);
    font-size:large;
}
#river{
    height:var(--card-height-with-border);
    display: flex;
    margin: 5px;
}
.field{
    display : flex;
}
.versant{
    display : flex;
    height: var(--creature-height);
}
.hand{
    display : flex;
    height: var(--card-height-with-border);
    margin: 5px;
}
.rayCount{
    height:var(--card-height); 
    width:var(--card-width);
    border: var(--card-border-size) solid gray;
    margin: var(--card-margin);
    font-size:large;
}