body{
    background-color: black;
    color: cyan;
    --card-height: 40px;
    --card-width: 40px;
    --card-border-size: 3px;
    --card-margin: 1px;
    --card-height-with-border: calc(var(--card-height) + (2 * (var(--card-border-size) + var(--card-margin))));
    --card-width-with-border: calc(var(--card-width) + (2 * (var(--card-border-size) + var(--card-margin))));
}
.dying{
    border: var(--card-border-size) solid red;
}
.card{
    height: var(--card-height);
    width: var(--card-width);
    border: var(--card-border-size) solid cyan;
    margin: var(--card-margin);
}
.card.selected{
    border: var(--card-border-size) solid yellow;
    background-color: crimson;
}
.creatureVoidFiller{
    height: var(--card-height);
    width: var(--card-width);
    border: var(--card-border-size) solid black;
    margin: var(--card-margin);
}
label{
    text-align: center;
    vertical-align: middle;
    font-size: small;
}
#gameBoard{
    position: relative; 
    width:100%;
}
#gameInfo{
    text-align: left;
}
#backToListButton{
    width: 200px;
}
#Source{
    height:var(--card-height); 
    width:var(--card-width);
    border: var(--card-border-size) solid cyan;
    margin: var(--card-margin);
    font-size:large;
}
.rayCount{
    height:var(--card-height); 
    width:var(--card-width);
    border: var(--card-border-size) solid gray;
    margin: var(--card-margin);
    font-size:large;
}