.selected{
    border: 3px solid yellow;
}
.dying{
    border: 3px solid red;
}
label{
    text-align: center;
    vertical-align: middle;
    font-size: small;
}
#GameInfo{
    text-align: left;
}